openapi: 3.0.1
info:
  title: Project Convention Maker API
  description: 에러 코드는 `/docs/index.html`에서 확인하세요
  version: 1.0.0
servers:
- url: https://api.pcmk.dppr.me
- url: http://localhost:8080
tags: []
paths:
  /api/v1/projects:
    post:
      tags:
      - Projects
      summary: 프로젝트 생성 API
      description: |
        - 필수값 비어있는 경우 400 에러 코드
        - 이미 존재하는 프로젝트 이름 존재시 1001 에러 코드
      operationId: post-v1-create-project
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
            examples:
              post-v1-create-project:
                value: |-
                  {
                    "project_name" : "Boiler Plate"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CreateProjectResponse'
              examples:
                post-v1-create-project:
                  value: |-
                    {
                      "project_detail" : {
                        "introduction" : null,
                        "detail" : null,
                        "project_name" : "Boiler Plate",
                        "team_name" : null,
                        "project_uuid" : "eb187d80-9529-4db2-9904-b93c09f900ee",
                        "project_start" : null,
                        "project_end" : null,
                        "teammates" : [ ]
                      }
                    }
  /api/v1/projects/{projectId}:
    get:
      tags:
      - Projects
      summary: 프로젝트 조회 API
      description: |
        - 존재하지 않는 프로젝트 UUID로 요청시 1000 에러 코드
      operationId: get-v1-get-project
      parameters:
      - name: projectId
        in: path
        description: (Required) 프로젝트명 or 프로젝트 UUID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GetProjectResponse'
              examples:
                get-v1-get-project:
                  value: |-
                    {
                      "project_detail" : {
                        "introduction" : "프로젝트 한 줄 소개",
                        "detail" : "프로젝트 상세 정보",
                        "project_name" : "Boiler Plate",
                        "team_name" : "Boiler Plate",
                        "project_uuid" : "eb187d80-9529-4db2-9904-b93c09f900ee",
                        "project_start" : [ 2023, 10, 23 ],
                        "project_end" : [ 2023, 10, 28 ],
                        "teammates" : [ {
                          "name" : "name1",
                          "position" : "백엔드",
                          "link" : "https://www.link.com"
                        }, {
                          "name" : "name2",
                          "position" : "백엔드",
                          "link" : "https://www.link.com"
                        }, {
                          "name" : "name3",
                          "position" : "백엔드",
                          "link" : "https://www.link.com"
                        } ]
                      },
                      "tech_stack" : {
                        "elements" : [ {
                          "category" : "Language",
                          "names" : [ "Java", "Kotlin", "Golang" ]
                        }, {
                          "category" : "DB",
                          "names" : [ "MySQL", "MariaDB", "DynamoDB", "MongoDB", "Redis" ]
                        }, {
                          "category" : "Framework",
                          "names" : [ "Spring", "FastAPI", "Django" ]
                        } ]
                      },
                      "ground_rule" : {
                        "elements" : [ {
                          "name" : "님 금지! 극 존대 금지!",
                          "checked" : true
                        }, {
                          "name" : "ZEP에서 캠은 켜지 않을 거에요",
                          "checked" : false
                        }, {
                          "name" : "스프린트는 협업과 프로세스를 배우는 시간이지 포트폴리오나 사이드 프로젝트를 하는 시간이 아닙니다",
                          "checked" : true
                        } ]
                      },
                      "code_convention" : {
                        "elements" : [ {
                          "category" : "자바 네이밍",
                          "items" : [ {
                            "name" : "클래스명은 카멜케이스로 만든다",
                            "example" : "CamelCase"
                          }, {
                            "name" : "메서드명은 동사로 시작한다",
                            "example" : "updateCodeConvention"
                          } ]
                        } ]
                      },
                      "commit_convention" : {
                        "elements" : [ {
                          "name" : "[feat]: 기능 추가,삭제, 변경",
                          "checked" : true
                        }, {
                          "name" : "[fix]: 버그,오류 수정",
                          "checked" : true
                        }, {
                          "name" : "[refactor]: 코드 리팩토링:",
                          "checked" : true
                        } ]
                      }
                    }
    put:
      tags:
      - Projects
      summary: 프로젝트 개요 수정 API
      description: |
        - 필수값 비어있는 경우 400 에러 코드
        - 존재하지 않는 프로젝트명, UUID로 요청시 1000 에러 코드
        - 변경된 프로젝트명이 사용중인 경우 1001 에러 코드
      operationId: put-v1-update-project
      parameters:
      - name: projectId
        in: path
        description: (Required) 프로젝트명 or 프로젝트 UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
            examples:
              put-v1-update-project:
                value: |-
                  {
                    "project_name" : "Changed project name",
                    "team_name" : "Changed team name",
                    "introduction" : "Changed project introduction",
                    "detail" : "Change project detail",
                    "project_start" : [ 2023, 10, 23 ],
                    "project_end" : [ 2023, 10, 28 ],
                    "teammates" : [ {
                      "name" : "name1",
                      "position" : "백엔드",
                      "link" : "https://www.link.com"
                    }, {
                      "name" : "name2",
                      "position" : "프론트엔드",
                      "link" : "https://www.link.com"
                    }, {
                      "name" : "name3",
                      "position" : "디자이너",
                      "link" : "https://www.link.com"
                    } ]
                  }
      responses:
        "200":
          description: "200"
  /api/v1/projects/{projectId}/code-conventions:
    put:
      tags:
      - Projects
      summary: 프로젝트 코드 컨벤션 수정 API
      description: |
        - 필수값 비어있는 경우 400 에러 코드
        - 존재하지 않는 프로젝트 UUID로 요청시 1000 에러 코드
      operationId: put-v1-update-project-code-conventions
      parameters:
      - name: projectId
        in: path
        description: (Required) 프로젝트명 or 프로젝트 UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateCodeConventionRequest'
            examples:
              put-v1-update-project-code-conventions:
                value: |-
                  {
                    "code_conventions" : [ {
                      "category" : "자바 네이밍",
                      "items" : [ {
                        "name" : "클래스명은 카멜케이스로 만든다",
                        "example" : "CamelCase"
                      }, {
                        "name" : "메서드명은 동사로 시작한다",
                        "example" : "updateCodeConvention"
                      } ]
                    }, {
                      "category" : "코틀린 네이밍",
                      "items" : [ {
                        "name" : "테스트명은 메서드명_테스트상태_기대행위",
                        "example" : "updateConvention_withValidInput_pass"
                      }, {
                        "name" : "변수명은 lower camel case",
                        "example" : "codeConvention"
                      } ]
                    } ]
                  }
      responses:
        "200":
          description: "200"
  /api/v1/projects/{projectId}/commit-conventions:
    put:
      tags:
      - Projects
      summary: 프로젝트 커밋 컨벤션 수정 API
      description: |
        - 필수값 비어있는 경우 400 에러 코드
        - 존재하지 않는 프로젝트 UUID로 요청시 1000 에러 코드
      operationId: put-v1-update-project-commit-conventions
      parameters:
      - name: projectId
        in: path
        description: (Required) 프로젝트명 or 프로젝트 UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateCommitConventionRequest'
            examples:
              put-v1-update-project-commit-conventions:
                value: |-
                  {
                    "code_conventions" : [ {
                      "name" : "[feat]: 기능 추가,삭제, 변경",
                      "checked" : true
                    }, {
                      "name" : "[fix]: 버그,오류 수정",
                      "checked" : true
                    }, {
                      "name" : "[refactor]: 코드 리팩토링:",
                      "checked" : true
                    } ]
                  }
      responses:
        "200":
          description: "200"
  /api/v1/projects/{projectId}/ground-rules:
    put:
      tags:
      - Projects
      summary: 프로젝트 그라운드 룰 수정 API
      description: |
        - 필수값 비어있는 경우 400 에러 코드
        - 존재하지 않는 프로젝트 UUID로 요청시 1000 에러 코드
      operationId: put-v1-update-project-ground-rule
      parameters:
      - name: projectId
        in: path
        description: (Required) 프로젝트명 or 프로젝트 UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateGroundRuleRequest'
            examples:
              put-v1-update-project-ground-rule:
                value: |-
                  {
                    "ground_rules" : [ {
                      "name" : "님 금지! 극 존대 금지!",
                      "checked" : true
                    }, {
                      "name" : "ZEP에서 캠은 켜지 않을 거에요",
                      "checked" : false
                    }, {
                      "name" : "스프린트는 협업과 프로세스를 배우는 시간이지 포트폴리오나 사이드 프로젝트를 하는 시간이 아닙니다",
                      "checked" : true
                    } ]
                  }
      responses:
        "200":
          description: "200"
  /api/v1/projects/{projectId}/tech-stack:
    put:
      tags:
      - Projects
      summary: 프로젝트 기술 스택 수정 API
      description: |
        - 필수값 비어있는 경우 400 에러 코드
        - 존재하지 않는 프로젝트 UUID로 요청시 1000 에러 코드
      operationId: put-v1-update-project-tech-stack
      parameters:
      - name: projectId
        in: path
        description: (Required) 프로젝트명 or 프로젝트 UUID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateTechStackRequest'
            examples:
              put-v1-update-project-tech-stack:
                value: |-
                  {
                    "tech_stack" : [ {
                      "category" : "Language",
                      "names" : [ "Java", "Kotlin", "Golang" ]
                    }, {
                      "category" : "DB",
                      "names" : [ "MySQL", "MariaDB", "DynamoDB", "MongoDB", "Redis" ]
                    }, {
                      "category" : "Framework",
                      "names" : [ "Spring", "FastAPI", "Django" ]
                    } ]
                  }
      responses:
        "200":
          description: "200"
components:
  schemas:
    UpdateGroundRuleRequest:
      title: UpdateGroundRuleRequest
      type: object
      properties:
        ground_rules:
          type: array
          description: (Required) 그라운드 룰 항목
          items:
            type: object
            properties:
              name:
                type: string
                description: (Required) 항목 이름
              checked:
                type: boolean
                description: (Required) 항목이 채택되었는지
    CreateProjectResponse:
      title: CreateProjectResponse
      type: object
      properties:
        project_detail:
          type: object
          properties:
            project_uuid:
              type: string
              description: 프로젝트 UUID
            teammates:
              type: array
              description: (Nullable)  프로젝트 팀원
              items:
                oneOf:
                - type: object
                - type: boolean
                - type: string
                - type: number
            project_name:
              type: string
              description: 프로젝트명
          description: 이름
    UpdateCommitConventionRequest:
      title: UpdateCommitConventionRequest
      type: object
      properties:
        code_conventions:
          type: array
          description: (Required) 커밋 컨벤션 항목
          items:
            type: object
            properties:
              name:
                type: string
                description: (Required) 항목 이름
              checked:
                type: boolean
                description: (Required) 항목이 채택되었는지
    UpdateTechStackRequest:
      title: UpdateTechStackRequest
      type: object
      properties:
        tech_stack:
          type: array
          description: (Required) 테크 스택 리스트
          items:
            type: object
            properties:
              names:
                type: array
                description: (Required) 기술 이름
                items:
                  oneOf:
                  - type: object
                  - type: boolean
                  - type: string
                  - type: number
              category:
                type: string
                description: (Required) 스택 카테고리
    GetProjectResponse:
      title: GetProjectResponse
      type: object
      properties:
        ground_rule:
          type: object
          properties:
            elements:
              type: array
              description: (Nullable) 그라운드 룰 항목
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: (Nullable) 항목 이름
                  checked:
                    type: boolean
                    description: (Nullable) 항목이 채택되었는지
          description: (Nullable) 그라운드 룰
        tech_stack:
          type: object
          properties:
            elements:
              type: array
              description: (Nullable) 스택 리스트
              items:
                type: object
                properties:
                  names:
                    type: array
                    description: (Nullable) 기술 이름
                    items:
                      oneOf:
                      - type: object
                      - type: boolean
                      - type: string
                      - type: number
                  category:
                    type: string
                    description: (Nullable) 기술 카테고리
          description: (Nullable) 테크 스택
        code_convention:
          type: object
          properties:
            elements:
              type: array
              description: (Nullable) 코드 컨벤션
              items:
                type: object
                properties:
                  category:
                    type: string
                    description: (Nullable) 카테고리명
                  items:
                    type: array
                    description: (Nullable) 컨벤션 항목
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: (Nullable) 항목명
                        example:
                          type: string
                          description: (Nullable) 예시
          description: (Nullable) 코드 컨벤션
        project_detail:
          type: object
          properties:
            project_uuid:
              type: string
              description: 프로젝트명 UUID
            teammates:
              type: array
              description: (Nullable) 프로젝트 팀원
              items:
                type: object
                properties:
                  link:
                    type: string
                    description: (Nullable) 팀원 링크
                  name:
                    type: string
                    description: (Nullable) 팀원명
                  position:
                    type: string
                    description: (Nullable) 팀원 포지션
            project_start:
              type: array
              description: (Nullable) 프로젝트 시작 일자
              items:
                oneOf:
                - type: object
                - type: boolean
                - type: string
                - type: number
            project_end:
              type: array
              description: (Nullable) 프로젝트 종료 일자
              items:
                oneOf:
                - type: object
                - type: boolean
                - type: string
                - type: number
            detail:
              type: string
              description: (Nullable) 프로젝트 상세
            project_name:
              type: string
              description: 프로젝트명
            introduction:
              type: string
              description: (Nullable) 프로젝트 한 줄 소개
            team_name:
              type: string
              description: (Nullable) 팀명
          description: 프로젝트 개요
        commit_convention:
          type: object
          properties:
            elements:
              type: array
              description: (Nullable) 커밋 컨벤션 항목
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: (Nullable) 항목 이름
                  checked:
                    type: boolean
                    description: (Nullable) 항목이 채택되었는지
          description: (Nullable) 커밋 컨벤션
    CreateProjectRequest:
      title: CreateProjectRequest
      type: object
      properties:
        project_name:
          type: string
          description: (Required) 프로젝트명
    UpdateCodeConventionRequest:
      title: UpdateCodeConventionRequest
      type: object
      properties:
        code_conventions:
          type: array
          description: (Required) 코드 컨벤션
          items:
            type: object
            properties:
              category:
                type: string
                description: (Required) 카테고리명
              items:
                type: array
                description: (Required) 컨벤션 항목
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: (Required) 항목명
                    example:
                      type: string
                      description: (Required) 예시
    UpdateProjectRequest:
      title: UpdateProjectRequest
      type: object
      properties:
        teammates:
          type: array
          description: (Nullable) 프로젝트 팀원
          items:
            type: object
            properties:
              link:
                type: string
                description: (Nullable) 팀원 링크
              name:
                type: string
                description: (Nullable) 팀원명
              position:
                type: string
                description: (Nullable) 팀원 포지션
        project_start:
          type: array
          description: (Required) 프로젝트 시작 날짜
          items:
            oneOf:
            - type: object
            - type: boolean
            - type: string
            - type: number
        project_end:
          type: array
          description: (Required) 프로젝트 종료 날짜
          items:
            oneOf:
            - type: object
            - type: boolean
            - type: string
            - type: number
        detail:
          type: string
          description: (Required) 프로젝트 세부 설명
        project_name:
          type: string
          description: (Required) 프로젝트명
        introduction:
          type: string
          description: (Required) 프로젝트 한 줄 짧은 소개
        team_name:
          type: string
          description: (Required) 팀 이름
